---
---

.image-block {
  background-color: #ccc;
  padding: 5px;
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}

.menu {
  width: 20%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #272727;

  h1 {
    color: #fff;
    padding: 10px 7px;
    font-size: 24px;
    border-bottom: 1px solid #797979;
    margin-bottom: 0px;
  }

  ul {
    margin: 0px;
    padding: 0px;

    a {
      display: block;
      padding: 8px;
      border-bottom: 1px solid #797979;
      color: #fff;
      text-decoration: none;

      &:hover {
        background-color: #fff;
        color: #000;
        border-bottom: 1px solid #000;
      }
    }
  }
}

.container2 {
  position: fixed !important;
  width: 80% !important;
  height: 100%;
  margin-left: 20% !important;
  overflow: scroll !important;
  padding: 40px;
}
