<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Basico Docs - {{ page.title }}</title>

  <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/rainbow.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/htmlbars.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
  <nav class="menu">
    <ul>
      {% for item in site.data.menu %}
        <li>
          <a href="{{ item.url }}">
            {{ item.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <div class="container2">
    {{ content }}
  </div>
</body>
</html>
